<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>DEFENCE FIRST</span>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="admin">
        <table>
            <tr><td><button mat-button (click)="certificates()" color="accent">Certificates</button></td></tr>
            <tr><td><button mat-button (click)="certificatesRequests()" color="accent">Certificates requests</button></td></tr>
            <tr><td><button mat-button (click)="addCertificates()" color="accent">Add certificate</button></td></tr>
            <tr><td><button mat-button (click)="addRules()" color="accent">Add rules</button></td></tr>
        </table>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="admin || operator">
        <table>
            <tr><td><button mat-button (click)="showLogs()" color="accent">Logs</button></td></tr>
            <tr><td><button mat-button (click)="searchLogs()" color="accent">Search logs</button></td></tr>
            <tr><td><button mat-button (click)="showAlarms()" color="accent">Alarms</button></td></tr>
            <tr><td><button mat-button (click)="showReports()" color="accent">Reports</button></td></tr>
        </table>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="agent">
        <table>
            <tr><td><button mat-button (click)="request()" color="accent">Certificate request</button></td></tr>
            <tr><td><button mat-button (click)="download()" color="accent">Certificate download</button></td></tr>
        </table>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <table>
            <tr><td><button mat-button (click)="logOut()" color="accent">LogOut</button></td></tr>
        </table>
    </mat-toolbar-row>
</mat-toolbar>
