<h1>Certificates</h1>
<section class="example-section">
    <mat-checkbox color="primary" [(ngModel)]="checked" (change)="filter()">Soon-to-expire certificates</mat-checkbox>
</section>
<table mat-table [dataSource]="data" class="mat-elevation-z8">
    <ng-container matColumnDef="serialNumber">
      <th mat-header-cell *matHeaderCellDef> Serial Number </th>
      <td mat-cell *matCellDef="let element"> {{element.serialNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="subjectData">
        <th mat-header-cell *matHeaderCellDef> Subject data </th>
        <td mat-cell *matCellDef="let element"> {{element.subjectData}} </td>
    </ng-container>

    <ng-container matColumnDef="issuerData">
        <th mat-header-cell *matHeaderCellDef> Issuer Number </th>
        <td mat-cell *matCellDef="let element"> {{element.issuerData}} </td>
    </ng-container>
  
    <ng-container matColumnDef="notBefore">
        <th mat-header-cell *matHeaderCellDef> From date </th>
        <td mat-cell *matCellDef="let element"> {{element.notBefore | date: 'dd/MM/yyyy' }} </td>
    </ng-container>

    <ng-container matColumnDef="notAfter">
        <th mat-header-cell *matHeaderCellDef> To date </th>
        <td mat-cell *matCellDef="let element"> {{element.notAfter | date: 'dd/MM/yyyy' }} </td>
    </ng-container>

    <ng-container matColumnDef="revoke">
        <th mat-header-cell *matHeaderCellDef> Revoke </th>
        <td mat-cell *matCellDef="let element">
            <button *ngIf="!element.revoked" mat-flat-button color="primary" (click)="onClickRevoke(element)">Revoke</button>
            <p *ngIf="element.revoked">Revoked</p>
        </td>
    </ng-container>

    <ng-container matColumnDef="replace">
        <th mat-header-cell *matHeaderCellDef> Replace </th>
        <td mat-cell *matCellDef="let element">
            <button mat-flat-button color="primary" (click)="onClickReplace(element)">Replace</button>
        </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="header"></tr>
    <tr mat-row [ngClass]="checkClass(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
